@import './utils/fonts.scss';
@import './utils/vars.scss';
$form-bg-color: #EFEBE5;
$border-color: #ccc;
$input-border-color: #999;
$button-bg-color: #333;
$button-color: #fff;

.contacto-main {
    padding: 125px 120px;
    background-color: #EFEBE5;
}

#contacto-header{
    min-height: 40vh;
    height: 40vh;
    padding-top: 95px;
}

.ds-container.container-contacto {
    gap: 75px;
}

#titulo-contacto {
    text-align: center;
    color: #EFEBE5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 85px;
    padding: 0;
}

.wpcf7 {
    display: flex;
}

.wpcf7-form {
    width: 450px;
    margin: auto;
    background-color: #1b3244;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;    

    p {
        margin: auto;
        color: #EFEBE5;
        padding: 15px;
        font-family: $font2;
    }

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid $input-border-color;
            border-radius: 5px;
            box-sizing: border-box;
        }

        textarea {
            height: 100px;
            padding: 10px;
            background-color: $button-bg-color;
            color: $button-color;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        
            &:hover {
                background-color: darken($button-bg-color, 10%);
            }
        }
    

        input {
            width: 100%;
            padding: 10px;
            background-color: $button-bg-color;
            color: $button-color;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            

            &:hover {
                background-color: darken($button-bg-color, 10%);
            }
        } 
}

.wpcf7-response-output, .screen-reader-response{
    color: #EFEBE5;
    text-align: center;
}

.screen-reader-response{
    display: none;
}

@media only screen and (max-width: 767px){
    .contacto-main {
        padding: 165px 30px;
    }
    
    #titulo-contacto{
        padding: 0;
    }
}
.ds-container.container-contacto {
    gap: 0;
    padding: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .contacto-main {
        padding: 165px 120px;
    }
    
    #titulo-contacto{
        padding: 0;
    }
}

.ds-container.container-contacto {
    gap: 0;
}
