@import './utils/fonts.scss';
@import './utils/vars.scss';

.titulo-modulo-card {
    text-align: center;
    font-size: 50px;
    padding: 0 0 100px 0;
    color: #623E2A;
}

.index_main {
    background-color: #EFEBE5;
    padding: 150px 120px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding-bottom: 75px;
}

.card {
    border-radius: 15px;
    
    &__image {
        display: flex;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        img {
            // estas 3 propiedades van siempre juntas (o casi) y hacen que la imagen se adapte al tamaño del contenedor
            object-fit: cover;
            width: 100%;
            height: 100%;

            // relacion de aspecto - normaliza el tamaño de las imagenes seleccionadas
            aspect-ratio: 3/2;
        }
    }


    &__descripcion {
        display: flex;
        flex-direction: column;
        background-color: #55555510;
        color: #623E2A;
        height: auto;
        min-height: 70%;
        margin: auto;
        justify-content: center;
        
    }

    h4 {
        padding: 20px;
        font-size: 35px;
        font-weight: normal;
        text-align: center;
        
    }

    p {
        padding: 20px;
        font-size: 18px;
    }
}


// Media query para dispositivos móviles
@media only screen and (max-width: 767px) {
    .index_main{
        padding: 0;
    }
    
    .container-index{
        padding: 35px 0;
    }
    
    .cards-container {
        display: flex;
        flex-direction: column;   
        padding: 15px;     
    }

    .card {
        margin-bottom: 30px;
    }
}

// Media query para tablets
@media only screen and (min-width: 768px) and (max-width: 1120px) {
    .index_main{
        padding: 0 120px;
    }
    
    .container-index{
        padding: 0;
    }
    
    .cards-container {
        display: flex;
        flex-direction: column;   
        padding: 0;     
        margin-bottom: 0;
    }

    .card:last-child {
        margin-bottom: 50px;
    }
}