@import './utils/fonts.scss';
@import './utils/vars.scss';

.trabajo_main {
    background-color: #EFEBE5;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.trabajo_main .ds-container:first-child{
    padding-top: 100px;
}
.modulo-mi-trabajo {
    display: flex;
    align-items: center;
    gap: 30px;
    

    &__imagen {
        width: 50%;
        
        img {
            aspect-ratio: 4/3;
            border-radius: 10px;
            box-shadow: 4px 4px 12px -1px rgba(0, 0, 0, 0.75);
        }
    }

    &__texto {   
        color: #623E2A;
        margin: auto;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h4 {
            font-size: 35px;   
            text-align: center;     
        }

        p {
            font-size: 18px;
            padding: 25px;
            text-align: center;
            margin: auto;
        }
    }        
}


@media only screen and (max-width: 768px) {
    .modulo-mi-trabajo {
        grid-template-columns: 1fr; /* Cambia el diseño a una sola columna */
        gap: 1px;
    }

    .modulo-mi-trabajo__imagen {
        padding: 25px 0;
    }

    .modulo-mi-trabajo__texto {
        margin: 5px 0 0 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .modulo-mi-trabajo {
        grid-template-columns: repeat(2, 1fr); /* Vuelve al diseño de dos columnas */
        padding: 50px 0;
    }

    .modulo-mi-trabajo__texto {
        margin-top: 0px; /* Restaura el margen superior del texto */
        font-size: 10px;
    }
}