.nav {
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: rgba(98, 62, 42, 0.8);
    backdrop-filter: blur(10px);
    z-index: 99;
    height: 0;
    overflow: hidden;
    transition: .5s;
}

.main-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 0;
    height: max-content;
    opacity: 0;
    transition: .5s .5s;
    padding: 15px 0;

    &.show {
        opacity: 1;
    }
}

.menu_item {
    display: inline;
    padding: 10px 20px;
}

a {
    display: inline-block;
    color: #EFEBE5;
    text-decoration: none;
    transition: .5s;
    border-radius: 5px;
    font-size: 25px;
    line-height: 28px;
    position: relative;

    &::after {
        content: "";
        width: 0;
        height: 1px;
        background-color: rgb(164, 164, 164);
        position: absolute;
        bottom: -2px;
        right: 0;
        transition: .5s;
    }

    &:hover {
        color: rgb(164, 164, 164);

        &::after {
            left: 0;
            width: 100%;
        }
    }


&:first-child {
    padding-left: 0;
}

&:last-child {
    padding-right: 0;
}

}



// Media query para dispositivos móviles
@media only screen and (max-width: 767px) {
    .nav {
        justify-content: center;
        padding: 0;
    }

    .main-menu {
        margin-bottom: 10px;
        padding: 10px;
        

        a {
            transition: .5s;
            border-radius: 5px;
            font-size: 15px;
        }
    }
}

// Media query para tablets
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .nav {
        padding: 0;
        
    }

    .main-menu {
        margin-bottom: 30px;
        max-width: 90%;

        a {
            font-size: 20px;
            transition: .5s;
            border-radius: 5px;
        }
    }
}