.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 99;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    //opacity: 0;
    padding: 0 80px;
    background-color: #1b3244;

    &#js-navbar {
        height: 0;
    }
    
    &.show,
    &#no-js {
        opacity: 0.9;
    }

    &__box {
        backdrop-filter: blur(10px);
        z-index: 99;
    }

    &__logo {
        display: flex;
        width: 110px;
        
        img {
            transition: .5s;
            position: relative;
            opacity: 0.7;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}

.box-menu {
    align-items: center;    
    display: flex;
}

.nav {
    display: flex;
    text-align: center;
    width: 100%;
    background-color: #1b3244;
    backdrop-filter: blur(10px);
    /* z-index: 99; */
    gap: 25px;
    margin: auto;
}

.main-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    margin: auto;
    gap: 60px;
}

.menu_item {
    display: inline;
    padding: 10px 20px;
}

a {
    display: inline-block;
    color: #EFEBE5;
    text-decoration: none;
    transition: .5s;
    border-radius: 5px;
    font-size: 25px;
    line-height: 28px;
    position: relative;
    text-shadow: -5px 6px 6px rgba(0,0,0,0.6);
    opacity: 0.75;
    
    &::after {
        content: "";
        width: 0;
        height: 1px;
        background-color: rgb(164, 164, 164);
        position: absolute;
        bottom: -2px;
        right: 0;
        transition: .5s;
    }

    &:hover {
        opacity: 1;

        &::after {
            left: 0;
            width: 100%;
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}



// Media query para dispositivos móviles
@media only screen and (max-width: 767px) {
    .nav {
        justify-content: center;
        padding: 0;
    }

    .main-menu {
        margin-bottom: 10px;
        padding: 10px;
        

        a {
            transition: .5s;
            border-radius: 5px;
            font-size: 15px;
        }
    }
}

// Media query para tablets
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .nav {
        padding: 0;
        
    }

    .main-menu {
        
        a {
            font-size: 20px;
            transition: .5s;
            border-radius: 5px;
        }
    }
}