@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.acerca_main {
  padding: 0 0 200px 0;
  background: linear-gradient(to bottom, #001525, #0d2435, #001525);
}

.acerca-title {
  color: #EFEBE5;
  font-size: 50px;
  text-align: center;
  padding-bottom: 200px;
  text-shadow: 3px 3px 20px rgba(255, 255, 255, 0.5);
}

.container-acerca {
  display: flex;
  flex-direction: column;
  gap: 265px;
}

.modulo-acerca {
  display: flex;
  margin: auto;
  gap: 10px;
  /* align-items: center; */
  background-color: #EFEBE5;
  border-radius: 10px;
  box-shadow: 3px 3px 20px 0px rgba(255, 255, 255, 0.5);
}
.modulo-acerca__imagen {
  flex: 1;
  width: 50%;
}
.modulo-acerca__imagen img {
  aspect-ratio: 4/3;
  border-radius: 10px;
}
.modulo-acerca__texto {
  color: #001525;
  flex: 1;
  width: 50%;
  margin: auto;
  padding: 25px;
}
.modulo-acerca__texto h3 {
  padding-bottom: 30px;
  font-size: 35px;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
.modulo-acerca__texto p {
  /* padding: 20px; */
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
  .container-acerca.ds-container {
    padding: 0;
    gap: 165px;
  }
  .acerca_main {
    padding: 0 30px 0 30px;
  }
  .acerca-title {
    padding: 165px 0;
  }
  .container-acerca .modulo-acerca:nth-child(2) {
    flex-direction: column;
  }
  .container-acerca .modulo-acerca:last-child {
    margin-bottom: 165px;
  }
  .modulo-acerca {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 10px;
    gap: 35px;
  }
  .modulo-acerca__imagen {
    /* padding: 25px 0; */
    width: 100%;
  }
  .modulo-acerca__texto {
    margin: auto;
    text-align: center;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* .acerca_main {
      padding: 0 120px;
  }

  .container-acerca.ds-container{
      padding: 0;
  } */
  .container-acerca .modulo-acerca:nth-child(2) {
    flex-direction: column;
  }
  .modulo-acerca {
    display: flex;
    flex-direction: column-reverse;
  }
  .modulo-acerca__imagen {
    width: 100%;
  }
  .modulo-acerca__texto {
    width: 100%;
  }
  .modulo-acerca:first-child {
    font-size: 10px;
  }
}