@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
main {
  padding-bottom: 125px;
}

.ds-container.container-contacto {
  gap: 75px;
}

#titulo-contacto {
  text-align: center;
  /* padding: 75px; */
  color: #EFEBE5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 50px;
  padding-top: 100px;
}

.wpcf7 {
  display: flex;
}

.wpcf7-form {
  width: 400px;
  margin: auto;
  background-color: #623E2A;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.wpcf7-form p {
  margin: auto;
  color: #EFEBE5;
}
.wpcf7-form input[type=text],
.wpcf7-form input[type=email],
.wpcf7-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  box-sizing: border-box;
}
.wpcf7-form textarea {
  height: 100px;
}
.wpcf7-form button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}
.wpcf7-form button:hover {
  background-color: #1a1a1a;
}

@media only screen and (max-width: 767px) {
  #titulo-contacto {
    padding: 75px 0 75px 0;
  }
}
.ds-container.container-contacto {
  gap: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #titulo-contacto {
    padding: 75px 0 75px 0;
  }
}
.ds-container.container-contacto {
  gap: 0;
}