@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.trabajo_main {
  background-color: #EFEBE5;
  display: flex;
  flex-direction: column;
  gap: 200px;
  padding-bottom: 0;
}

.ds-container {
  display: flex;
  flex-direction: column;
  gap: 265px;
}

h2 {
  font-size: 50px;
  text-align: center;
  color: #001525;
  padding-top: 150px;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.6);
}

.trabajo_main .ds-container:first-child {
  padding-top: 265px;
}

.trabajo_main .ds-container:last-child {
  padding-bottom: 265px;
}

.modulo-mi-trabajo {
  display: flex;
  gap: 75px;
  background-color: rgba(85, 85, 85, 0.062745098);
  box-shadow: 4px 4px 12px -1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.modulo-mi-trabajo__imagen {
  width: 50%;
}
.modulo-mi-trabajo__imagen img {
  aspect-ratio: 4/3;
  border-radius: 10px;
  box-shadow: 4px 4px 12px -1px rgba(0, 0, 0, 0.75);
}
.modulo-mi-trabajo__texto {
  color: #001525;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.modulo-mi-trabajo__texto h3 {
  font-size: 35px;
  text-align: center;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.6);
}
.modulo-mi-trabajo__texto p {
  font-size: 15px;
  padding: 25px;
  text-align: center;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .trabajo_main {
    gap: 165px;
  }
  .trabajo_main .ds-container:first-child {
    padding-top: 100px;
  }
  .trabajo_main .ds-container:last-child {
    padding-bottom: 165px;
  }
  .ds-container.container-trabajo {
    padding: 0 30px 0 30px;
    gap: 165px;
  }
  .modulo-mi-trabajo {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .modulo-mi-trabajo__imagen {
    width: 100%;
  }
  .modulo-mi-trabajo__texto {
    margin: 5px 0 0 0;
    width: 100%;
    gap: 0;
  }
  .reverse {
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .trabajo_main {
    gap: 165px;
  }
  .trabajo_main .ds-container:first-child {
    padding-top: 100px;
  }
  .trabajo_main .ds-container:last-child {
    padding-bottom: 165px;
  }
  .ds-container.container-trabajo {
    padding: 0 120px;
    gap: 165px;
  }
  .modulo-mi-trabajo {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .modulo-mi-trabajo__texto {
    margin-top: 0px;
    font-size: 10px;
    width: 100%;
    gap: 0;
  }
  .modulo-mi-trabajo__texto h3 {
    padding: 35px 0 35px 0;
  }
  .modulo-mi-trabajo__imagen {
    width: 100%;
  }
  .reverse {
    flex-direction: column-reverse;
  }
}